body {
     font-family: 'Poppins', sans-serif;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     padding: 20px;
     min-height: 100%;
}

html, body { 
     width: 100vw; 
     height: 100vh;
}

::selection {
     opacity: 0;
}

::-moz-selection {
     opacity: 0;
}

::-webkit-selection {
     opacity: 0;
}

.float {
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.4);
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     justify-content: space-around;
     align-items: center;
     transition: display 0.7s;
     z-index: 5;
}

.load {
     background-color: white;
     border-radius: 25px;
     height: 200px;
     width: 200px;
     box-shadow: 1px 1px 30px gray;
     display: flex;
     padding: 50px;
     justify-content: space-around;
     position: relative;
     z-index: 6;
}

.load div {
     height: 100px;
     width: 100px;
     position: relative ;
     border: 8px solid;
     border-radius: 60%;
     border-left: 8px solid #fc00f9;
     border-bottom: 8px solid #fc00f9;
     border-top: 8px solid rgba(0, 0, 0, 0);
     border-right: 8px solid rgba(0, 0, 0, 0);
     animation:load 2s linear infinite ;
     overflow:hidden;
}

@keyframes load {
     0%{transform:rotate(0deg);}
     100%{transform:rotate(360deg);}
}


#active {
     align-items: center;
}

.flex {
     display: flex;
     justify-content: space-around;
}

#bar {
     margin: 15px;
     border: 3px solid white;
     border-radius: 10px;
}

.card-box {
     height: 350px;
     flex: 1;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
}

.card-box img {
     width: 20%;
     padding: 10px;
	animation-name:move-down;
	animation-duration: 0.6s;
     animation-fill-mode: forwards;
     z-index: 3;
}

@keyframes move-down {
     0%{transform: translateY(50px) rotateX(40deg);}
	100%{transform: translateY(0px) rotateX(0deg);}
}

#help {
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     font-size: 35px;
     padding: 0px 13px;
     border: 1px solid none;
     border-radius: 80px;
     background-color: rgb(247, 8, 8);
     box-shadow: 1px 1px 30px rgb(5, 4, 4);
}

#help-div {
     padding: 20px;
}

#help:hover {

     cursor: pointer;
     font-weight: bolder;
     box-shadow: 1px 1px 30px white;
     transition: box-shadow 0.3s;
}

.inline {
     padding: 20px 20px;
}

.inline div {
     color: #000;
     border: 1px solid white;
     border-radius: 10px;
     padding: 20px 20px;
     background-color: white;
}

.bet-box {
     border-left: 3px solid white;
     border-top: 3px solid white;
     border-bottom: 3px solid white;
     border-radius: 10px;
     padding: 15px 25px;
     margin-right: 60px;
}

.space {
     margin-right: 25px;
}

.btn-lg {
     color: white;
     font-size: 22px;
     padding: 13px;
     margin-right: 25px;
}

#stand {
     background-color: rgb(147, 21, 250);
}

#hit {
     padding-right: 20px;
     padding-left: 20px;
}



.help-me {
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.4);
     position: absolute;
     top: 0;
     left: 0;
     justify-content: space-around;
     align-items: center;
     display: none;
     transition: display 0.7s;
     z-index: 5;
}

.help-me-on {
     height: 82%;
     width: 62%;
     border-radius: 20px;
     background-color: white;
     padding: 35px;
     position: relative;
     z-index: 6;
}

.close {
     font-size: 60px;
     position: absolute;
     top: 5px;
     right: 20px;
     cursor: pointer;
     transform: rotate(45deg);
}

ol {
     color: #000;
     font-size: 25px;
}

#rule {
     color: black;
     font-size: 35px;
     font-weight: bold;
     text-align: center;
}

.get-btn {
     align-items: center;
     text-align: center;
     padding-bottom: 10px;
}

#get {
     box-shadow: 1px 1px 30px gray;
     border-radius: 10px;
     outline: none;
}

.ads {
     height: 15em;
     width: 100%;
     align-items: center;
     text-align: center;
     margin: 2em 0;
     border-radius: 10px;
}

#ad-img {
     height: 95%;
     z-index: 8;
}

.get {
     display: none;
}

svg {
     position: relative;
}

.land {
     position: absolute;
     height: 100vh;
     width: 100vw;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.7);
     display: none;
     justify-content: space-around;
     align-items: center;
}



@media (orientation: portrait) {
     .view {
          display: none;
     }
     .land {
          display: flex;
     }
}

@media (orientation: landscape) {
     .view {
          display: block;
     }
     .land {
          display: none;
     }
}


/*        Responsive           */


@media only screen and (max-width: 1060px) {

     body {
          padding-top: 15px;
          padding-bottom: 0px;
     }  

     h1 {
          font-size: x-large
     }

     h4 {
          font-size: large;
     }

     .btn-lg {
          font-size: 20px;
          padding: 8px;
          margin-right: 25px;
     }

     #hit {
          padding-right: 14px;
          padding-left: 14px;
     }
     
     #bar {
          margin: 10px;
          border: 2px solid white;
          border-radius: 10px;
     }

     .card-box {
          height: 250px;
     }

     .card-box img {
          width: 20%;
          padding: 7px;
     }
     
     #help {
          font-size: 25px;
          padding: 0px 8px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 20px;

     }
     
     #help:hover {
          cursor: pointer;
          box-shadow: 1px 1px 25px white;
     }
     
     .inline {
          padding: 20px 20px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 10px 10px;
     }
     
     .bet-box {
          border-left: 3px solid white;
          border-top: 3px solid white;
          border-bottom: 3px solid white;
          border-radius: 10px;
          padding: 10px 20px;
          padding-bottom: 1px;
          margin-right: 60px;
     }
     
     .space {
          margin-right: 15px;
     }



          
     .help-me {
          height: 100%;
          width: 97%;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 0;
          justify-content: space-around;
          align-items: center;
          display: none;
     }

     .help-me-on {
          height: 80%;
          width: 60%;
          border-radius: 20px;
          background-color: white;
          padding: 35px;
          position: relative;
     }

     .close {
          font-size: 60px;
          position: absolute;
          top: 5px;
          right: 20px;
          cursor: pointer;
          transform: rotate(45deg);
     }

     ol {
          color: #000;
          font-size: 25px;
     }

     #rule {
          font-size: 35px;
          font-weight: bold;
          text-align: center;
     }


}



@media only screen and (max-width: 880px) {

     body {
          padding-top: 13px;
          padding-bottom: 0px;
          padding: 0 10px;
     }  

     h1 {
          font-size: x-large
     }

     h4 {
          font-size: initial;
     }

     .btn-lg {
          font-size: 17px;
          padding: 7px;
          margin-right: 20px;
     }

     #hit {
          padding-right: 12px;
          padding-left: 12px;
     }
     
     #bar {
          margin: 10px;
          border: 2px solid white;
          border-radius: 10px;
     }

     #br {
          display: none;
     }

     .card-box {
          height: 220px;
     }

     .card-box img {
          width: 20%;
          padding: 7px;
     }
     
     #help {
          font-size: 23px;
          padding: 0px 8px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 20px;
     }
     
     #help:hover {
          cursor: pointer;
          box-shadow: 1px 1px 25px white;
     }
     
     .inline {
          padding: 20px 20px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 10px 10px;
     }
     
     .bet-box {
          border-left: 3px solid white;
          border-top: 3px solid white;
          border-bottom: 3px solid white;
          border-radius: 10px;
          padding: 10px 20px;
          padding-bottom: 1px;
          margin-right: 60px;
     }
     
     .space {
          margin-right: 15px;
     }

     
     .help-me-on {
          padding: 30px;
     }

     .close {
          font-size: 30px;
     }
     
     ol {
          color: #000;
          font-size: 15px;
     }
     
     #rule {
          font-size: 25px;
     }

     .get-btn {
          padding-bottom: 1px;
     }
     
     .ads {
          height: 10em;
          margin:0.7em 0;
     }

}







@media only screen and (max-width: 760px) {

     body {
          padding-top: 13px;
          padding-bottom: 0px;
          padding: 0 10px;
     }  

     h1 {
          font-size: large
     }

     h4 {
          font-size: 14px;
     }

     .btn-lg {
          font-size: 15px;
          padding: 6px;
          margin-right: 14px;
     }

     #hit {
          padding-right: 10px;
          padding-left: 10px;
     }
     
     #bar {
          margin: 10px;
          border: 2px solid white;
          border-radius: 10px;
     }

     #br {
          display: none;
     }

     .card-box {
          height: 180px;
     }

     .card-box img {
          width: 20%;
          padding: 7px;
     }
     
     #help {
          font-size: 23px;
          padding: 0px 8px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 10px;
          padding-top: 20px;
     }
     
     #help:hover {
          cursor: pointer;
          box-shadow: 1px 1px 25px white;
     }
     
     .inline {
          padding: 20px 20px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 10px 10px;
     }
     
     .bet-box {
          border-left: 2px solid white;
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          border-radius: 10px;
          padding: 10px 20px;
          padding-bottom: 1px;
          margin-right: 40px;
          margin-left: 15px;
     }
     
     .space {
          margin-right: 13px;
     }

     .help-me-on {
          padding: 30px;
     }

     .close {
          font-size: 30px;
     }
     
     ol {
          color: #000;
          font-size: 15px;
     }
     
     #rule {
          font-size: 25px;
     }

     .get-btn {
          padding-bottom: 1px;
     }
     
     .ads {
          height: 10em;
          margin:0.7em 0;
     }

}




@media only screen and (max-width: 670px) {

     body {
          padding-top: 10px;
          padding-bottom: 0px;
          padding: 0 10px;
     }  

     h1 {
          font-size: large
     }

     h4 {
          font-size: small;
     }

     .btn-lg {
          font-size: 12px;
          padding: 7px;
          margin-right: 10px;
     }

     #hit {
          padding-right: 8px;
          padding-left: 8px;
     }
     
     #bar {
          margin: 7px;
          border: 2px solid white;
          border-radius: 10px;
     }

     #br {
          display: none;
     }

     .card-box {
          height: 160px;
     }

     .card-box img {
          width: 20%;
          padding: 5px;
     }
     
     #help {
          font-size: 18px;
          padding: 0px 6px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 10px;
     }
     
     #help:hover {
          cursor: pointer;
          box-shadow: 1px 1px 20px white;
     }
     
     .inline {
          padding: 5px 5px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 7px 7px;
     }
     
     .bet-box {
          border-left: 2px solid white;
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          border-radius: 10px;
          padding: 5px 15px;
          padding-bottom: 0px;
          margin-right: 18px;
     }
     
     .space {
          margin-right: 12px;
     }

     .help-me-on {
          padding: 25px;
     }

     ol {
          font-size: small;
          padding: 0px 20px;
     }

     #rule {
          font-size: 18px;
     }

     .ads {
          height: 8em;
          margin:0.9em 0;
     }
}



@media only screen and (max-width: 470px) {

     body {
          padding-top: 6px;
          padding-bottom: 0px;
          padding: 0 10px;
     }  

     h1 {
          font-size: normal;
     }

     h4 {
          font-size: 8px;
     }

     .btn-lg {
          font-size: 10px;
          padding: 3px;
          margin-right: 8px;
     }

     #hit {
          padding-right: 5px;
          padding-left: 5px;
     }
     
     #bar {
          margin: 10px;
          border: 2px solid white;
          border-radius: 10px;
     }

     #br {
          display: none;
     }

     .card-box {
          height: 100px;
     }

     .card-box img {
          width: 20%;
          padding: 5px;
     }
     
     #help {
          font-size: 10px;
          padding: 0px 5px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 0px;
          padding-top: 10px;
     }
     
     .inline {
          padding: 10px 10px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 10px 10px;
     }
     
     .bet-box {
          padding: 10px 10px;
          margin-right: 10px;
          margin-left: 5px;
     }
     
     .space {
          margin-right: 8px;
     }

     .help-me-on {
          padding: 10px;
     }

     .close {
          font-size: 15px;
          top: 5px;
          right: 10px;
     }

     
     ol {
          color: #000;
          font-size: 10px;
          padding: 0px 15px;
     }
     
     #rule {
          font-size: 10px;
     }
     
     .ads {
          height: 7em;
          margin:0.4em 0;
     }

}




@media only screen and (max-width: 390px) {

     body {
          padding-top: 6px;
          padding-bottom: 0px;
          padding: 0 10px;
     }  

     h1 {
          font-size: small;
     }

     h4 {
          font-size: 7px;
     }

     .btn-lg {
          font-size: 9px;
          padding: 3px;
          margin-right: 6px;
     }

     #hit {
          padding-right: 5px;
          padding-left: 5px;
     }
     
     #bar {
          margin: 10px;
          border: 1px solid white;
          border-radius: 10px;
     }

     #br {
          display: none;
     }

     .card-box {
          height: 100px;
     }

     .card-box img {
          width: 20%;
          padding: 5px;
     }
     
     #help {
          font-size: 10px;
          padding: 0px 5px;
          border: 1px solid none;
          border-radius: 80px;
     }
     
     #help-div {
          padding: 0px;
          padding-top: 10px;
     }
     
     .inline {
          padding: 10px 10px;
     }
     
     .inline div {
          border-radius: 10px;
          padding: 5px;
     }
     
     .bet-box {
          padding: 5px;
          margin-right: 10px;
          margin-left: 5px;
     }
     
     .space {
          margin-right: 8px;
     }

     .help-me-on {
          padding: 10px;
     }

     .close {
          font-size: 15px;
          top: 5px;
          right: 10px;
     }

     
     ol {
          color: #000;
          font-size: 10px;
          padding: 0px 10px;
     }

     li {
          font-size: smaller;
     }
     
     #rule {
          font-size: 10px;
          margin-bottom: 0px;
     }
     
     .ads {
          height: 5.5em;
          margin:0.4em 0;
     }

}





